<h1>Search the League</h1>

<form>
  <div class="form-group">
    <label for="name">Summoner Name:</label>
    {{input value=name id="name"}}
  </div>

  <button class="btn btn-caution" {{action 'nameLookup'}}>Search</button>
</form>
